<%= form_with url: session_url, method: :post, class: "contents", data: { turbo_frame: "_top" } do |form| %>
    <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
            <%= form.label :email_address %>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="flex flex-col gap-1">
            <%= form.label :password%>
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full" %>
        </div>
        
        <%= turbo_frame_tag "login_form_errors" do %>
          <% if @login_error %>
            <div class="text-red-500 px-3 py-2 font-medium rounded-md mt-3">
              <span><%= @login_error %></span>
            </div>
          <% end %>
        <% end %>
        
        <%= form.submit "Sign in", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-custom-white text-custom-black hover:bg-gray-100 inline-block font-medium cursor-pointer" %>
    </div>
<% end %> 